   
   
 @font-face {
    font-family: 'style';
    src: url(Xxix-0Wgvz.ttf);
    }
  @font-face {
    font-family: 'head';
    src: url(Metropolis-SemiBold.otf);
    }
  @font-face{
    font-family: 'data';
    src: url(Metropolis-Regular.otf);
   }
  

   *:focus {
    outline: none;
}
   
    

    .title{
      text-align: center;
      color:#14c8ff;
      text-shadow: 4px 1px 10px #0b4fb4ea;
      font-family: style;
      font-size:10vh;
      transition:all 0.5s;
      }

      .subtitle{
      position:absolute;
      color:#14c8ff;
      text-shadow: 4px 1px 10px #0b4fb4ea;
      font-family: style;
      font-size:3vw;
      
      }
      .title:hover{
      transform:translateY(-0.2rem);
      text-shadow: 4px 1px 10px #00364691;
      transition:all 0.5s;
      }

    .container{
      flex-basis: 0;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;  
      justify-content:space-between;
      
  }
  
  .container > div{
      width:32vw;
  }
   
   button{
    position:absolute;
    opacity:100%;
    background-color: aliceblue;
    border-style:none;
    border-radius:1vw;
    font-size:1.5vw;
    width:6%;
    height: 5%;
    color:#0067c7;
    box-shadow: 0em 0em 0.5em 0.0001em #20e5ff9a;
    position:absolute;
    font-family:data;
    transition:transform,all 0.03s;
  }
   button:hover{
    color:aliceblue;
    transform:translateY(-0.12em);
    background-color:#309bffe8;
    box-shadow: 0.1em 0.025em 0.5em 0.1em #20e5ff9a;
    text-shadow: 2px 2px 2px #001a5250;
    transition:transform,all 0.5s;
                    
}
   button:active{
    transform:translateY(0.12em);
    background-color:#309bff6f;
    box-shadow: 0.1em 0.025em 0.5em 0.1em #20e5ff9a;
    text-shadow: 2px 2px 2px #001a5250;
    transition:transform,all 0.1s;
}
    canvas{
    width:32vw;
    height:85vh;
    border-radius:1vw;
    background-color:#001e5b80;
    box-shadow: 0.1em 0.025em 0.4em 0.1em #20e5ff9a;
    
  }
  textarea{
    position:absolute;
    background-color:aliceblue;
    border-radius: 1.2vh;
    border-style:none;
  
    width:25vw;
    height:28vh;
    padding-top: 2vh;
    padding-left:2vw;
    resize:none;
    overflow-y: hidden;
    font-family: data;
    font-size:1.3vw;
  }
  textarea::placeholder{
    font-size: 1.3vw;
    font-family:data;
  }

  .form_text{
    position:absolute;
    font-family:data;
    color:aliceblue;
    font-size: 2vw;
    text-shadow:4px 1px 10px black;

  }
  
  .form_input {
    position:absolute;
    background-color:aliceblue;
    border-radius:0.51vw;
    font-size: 1.3vw;
    border-style:none;
    font-family: data;
    height:5vh;
    width:20vw;
    text-indent:4%;
  }
  .map_layout{
    width:32vw;
    height:85vh;
    top:100vh;
    left:100vw;
    border-radius: 1vw;
    background-color:#001e5b80;
    box-shadow: 0.1em 0.025em 0.4em 0.1em #20e5ff9a;
  }
  #cs1{
    top:10vh;
    left:5vw;
  }
  #cs2{
    top:10vh;
    left:40vw;
  }
  #cs3{
    top:10vh;
    left:80vw;
  }

  #ct1{
    top:23vh;
    left:3vw
  }
  #ct2{
    top:31.5vh;
    left:3vw
  }
  #ct3{
    top:40vh;
    left:3vw
  }
  #ci1{
    left:10vw;
    top:26vh
  }
  #ci2{
    left:10vw;
    top:35vh
  }
  #ci3{
    left:3vw;
    top:51vh;
  }
 #cb1{
  top:85vh;
  left:13.5vw
 }




  @media only screen and (max-width:1100px),screen and (max-height:650px){
  /* Mobal phone ke liye */
 
 /*  Hides first canva */
  .mobile_hide{
    display:none;
  }
  
 
  body::-webkit-scrollbar { 
    display: none;  
  }
  
  .title{
      margin-top:1vh;
      font-size:8vw;

  }
  .container{
      
      flex-direction:column;
      justify-content:space-evenly;
  }
  
  .container >div{
      margin-top: 1.5vh;
      margin-left: 7vw;
  }
  canvas{
      width:80vw;
      height:70vw;
  }
  .form_text{
    font-size:3vw;
  }
  .form_input{
  font-size:2vw;
  height:2vh;
  width:40vw;
  }
  textarea{
    width:50vw;
    height:5vh;
    font-size:3vw;
    padding-top: 1vh;
    padding-left:2vw;
  }
  textarea::placeholder{
    font-size:2vw;
  }
   
  button{
    font-size:2vw;
    width:10vw;
    height:3vh;

  }
  
  #cs1{
    
    
    font-size: 5vw;
    margin-top:7vw;
    margin-left:20vw;
  }
  #cs2{
    font-size: 7vw;
    margin-top:5%;
    margin-left:-11vw;
  
  }
  #cs3{
    font-size:7vw;
    margin-top:75%;
    left:45vw;
  }

  #ct1{
    
    top:12vh;
    left:20vw
  }
  #ct2{
    
    top:16vh;
    left:20vw
  }
  #ct3{
    
    top:20vh;
    left:20vw
  }
  #ci1{
    left:30vw;
    top:14vh
  }
  #ci2{
    left:30vw;
    top:18vh
  }
  #ci3{
    left:20vw;
    top:25vh;
    
  }
 #cb1{
  top:33vh;
  left:42vw;
 }

 }